*{
  box-sizing: border-box;
}

/* Base Style Selectors*/
header {
  padding: 1em 0;
  overflow: hidden;
  background-color: #7fd3f7;
}

body {
  background: #fafafa;
  width: 100%;
  margin: 0 auto;
  font-family: Nunito, arial, sans-serif;
  font-size: 16px;
  color: #666;
}
nav {
  margin-bottom: 60px;
}
nav a:hover {
  color:#af0005;
}
nav a:active {
  color: firebrick;
}
nav a {
  color: black;
  text-decoration: none;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 10px;
    }

h1 {
  font-size: 32px;
  margin-top: 0;
  color: #fff;
}

h1, h2 {
  text-align: center;
}

p {
  text-align: center;
}

div  {
  text-align: center;
}

/* ID Selectors */
#portfolio {
  text-transform: uppercase;
  padding-bottom: 20px;
  font-weight: bold;
}
#contact {
  text-transform: uppercase;
  font-size: 21px;
  margin-top: 50px;
  padding-bottom: 20px;
}

/*Class Selectors*/
.wrapper {
  max-width: 90%;
  margin: 0 auto;
}
.profile-bio p {
  font-family: sans-serif;
}
.profile-bio img {
  max-width: 70%;
}
.portfolio {
  background-color: #fff;
  padding: 20px;
}
.portfolio-items {
  overflow: hidden;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.portfolio-items li {
  margin-bottom: 40px;
  height: 350px;
}
.portfolio-items li p {
  padding: 0 30px;
}
.portfolio-items li img {
  max-width: 100%;
}
.main-footer .wrapper {
  border-top: 1px solid #eee;
  margin-top: 60px;
}
.footer-nav ul {
  display: none;
}
.footer-nav li {
  display: inline-block;
  margin-right: 40px;
  max-width: 100%;
}
.student-name {
  float: left;
  margin-top: 14px;
}
.footer-nav li a {
  text-decoration: none;
  color: #666;
}
.top a {
  float: right;
  text-decoration: none;
  color: #666;
  text-transform: uppercase;
}

/* Media Quries*/
@media (min-width: 768px) {
  header {
    padding: 1em 0 3em;
    overflow: hidden;
  }
   h1 {
    text-align: center;
    }
    nav li {
      text-align: center;
      text-transform: uppercase;
      padding: 10px;
      display: inline-block;
      background-color: transparent;
    }
    nav a:hover {
      color: #fff;
    }
    nav a:active {
      color: firebrick;
   }
  .portfolio-items li {
    width: 50%;
    display:inline-block;
    float: left;
    vertical-align: top;
    padding: 0 5px;
    }
    .portfolio-items li:last-of-type {
      float:none;
      margin-top: 25px;
    }
    .profile-bio {
      margin: 20px 20px;
    }
    .profile-bio img {
      float: right;
      margin-left: 5px;
      margin-top: 5px;
      margin-right: 5px;
      clear: both;
    }
    .footer-nav ul {
      display: inline-block;
      float:right;
    }
    .top {
      display: none;
    }
}

@media (min-width: 1024px) {
  h1 {
    float:left;
    margin-top: 0;
    padding-left: 35px;
  }
  h3 {
    padding-left: 25px;
  }
  nav ul {
    float: right;
  }
  nav a:hover {
    color: #fff;
  }
  nav a:active {
    color: firebrick;
  }
  .wrapper {
    max-width: 1200px;
  }
  .portfolio-items li {
    width: 33%;
    display:inline-block;
    float: left;
    vertical-align: top;
    padding: 0 5px;
    }
    .portfolio-items li:last-of-type {
      float:none;
      margin-top: 25px;
    }
.clearfix::after {
  content:"";
  display: table;
  clear: both;
 }
}
