*{
  box-sizing: border-box;
}
/*Class Selectors*/
.portfolio-items li img {
  max-width: 80%;
}
.portfolio-items {
  overflow: hidden;
  list-style: none;
  text-align: center;
  background-color:white;
}
.footer-nav li {
  display: inline-block;
  margin-right: 40px;
  border-top: 0 solid grey;
  max-width: 100%;
}

/* Base Style Selectors*/
h1, h2 {
  text-align: center;
  padding-top: 20px;
}
nav li {
    list-style-type: none;
    text-align: center;
    color: red;
    text-transform: uppercase;
}


p {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;
}
nav a {
  color: black;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Media Quries*/
@media (min-width: 768px) {
  .portfolio-items li {
    width: 49% ;
    display:inline-block;
    float: left;
    height: 330px;
    }
    .profile-bio {
      height: 400px;
    }
    .profile-bio img{
      float:right;
    }
    .portfolio-items li:last-of-type {
      float:none;
    }

  }
}
@media (min-width: 1024px) {

}
