*{
  box-sizing: border-box;
}
/*Class Selectors*/
.portfolio-items li img {
  max-width: 80%;
}
.portfolio-items {
  overflow: hidden;
  list-style: none;
  text-align: center;
  background-color:white;
}
.footer-nav li {
  display: inline-block;
  margin-right: 40px;
  border-top: 2px solid grey;
  max-width: 100%;
}

/* Base Style Selectors*/
h1, h2 {
  text-align: center;
  padding-top: 20px;
}
nav li {
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
}
p {
  text-align: center;
  font-size: 20px;
  font-family: serif;
}
nav a {
  color: black;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* ID Selectors */

/* Media Quries*/
@media (min-width: 768px) {
  .portfolio-items li {
    width: 49%;
    display:inline-block;
    float: left;
    

    }
    .profile-bio {
      height: 400px;
    }
    .profile-bio img{
      float:right;
    }
    .portfolio-items li:last-of-type {
      float:none;
    }
    nav li {
      display: inline-block;
      text-transform: uppercase;
      padding: 10px;
    }
    nav ul {
      text-align: center;
      margin-bottom: 50px;
    }
  }
